<h1>Listing users</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<table>
<thead>
<tr>
<th>Name</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
  <td><%=user.name %></td>
<td><%=link_to 'Show', user %></td>
<td><%=link_to 'Edit', edit_user_path(user) %></td>
<td><%=link_to 'Destroy', user, method: :delete,
data: {confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'New User', new_user_path %>
